@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.content-wrap {
  padding-bottom: 100px; //footer height - to position footer correctly on the page
}

@media screen and (min-width: 768px) {
  .content-wrap {
    padding-bottom: 77px; //footer height - to position footer correctly on the page
  }
}
