@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visually-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.content-wrap {
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .content-wrap {
    padding-bottom: 77px;
  }
}
[data-modal] {
  animation: modal-open 0.25s;
}

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.light-theme {
  color: #000000;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
.dark-theme .login-input,
.dark-theme .modal-card__list-details {
  color: #ffffff;
}
.dark-theme .pagination-button,
.dark-theme .modal-card__votes {
  color: #ff6b08;
}
.dark-theme .pagination-button,
.dark-theme .modal-card,
.dark-theme .modal__container,
.dark-theme .modal-login {
  background-color: #333333;
}
.dark-theme .login-input {
  border-bottom: 2px solid #ff6b08;
}
.dark-theme .activebtn {
  background-color: #ff6b08;
}
.dark-theme .footer {
  background-color: #000000;
}
.dark-theme .pagination-button {
  box-shadow: #ffffff;
}
.dark-theme .pagination-button:hover, .dark-theme .pagination-button:focus {
  background-color: #ff6b08;
  color: #333333;
}
.dark-theme .activebtn {
  color: #ffffff;
  box-shadow: #ff6b08;
}
.dark-theme .activebtn:hover, .dark-theme .activebtn:focus {
  background-color: #ff6b08;
  color: #333333;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 200px;
}

.theme-switch {
  display: flex;
  align-items: center;
  position: sticky;
}

.theme-switch__icon {
  color: #ffffff;
  height: 15px;
  width: 15px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  position: relative;
  width: 32px;
  height: 15px;
  border-radius: 50em;
  margin-left: 5px;
  margin-right: 5px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #ff6b08;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b08;
}

.header-home {
  position: relative;
  background-image: url("/src/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header-home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.header-home__container {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.logo:hover .logo__icon {
  transform: rotate(180deg);
}
.logo__icon {
  transition: transform 0.5s ease-out;
}

.logo__text {
  display: none;
  background: linear-gradient(225deg, #ff6b08, #ffffff, #ff6b08) 0 0/400%, 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
}

.nav__list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.nav__link {
  transition: color 250ms;
}
.nav__link--active {
  border-bottom: 3px solid #ff6b08;
}
.nav__link:hover {
  color: #ff6b08;
}

.search-form {
  width: 100%;
  max-width: 336px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.search-form input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 14px;
  outline: none;
  color: inherit;
}
.search-form input:focus::placeholder {
  color: transparent;
}
.search-form__icon {
  transition: transform 250ms;
}
.search-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-form button:hover .search-form__icon {
  transform: scale(1.5);
}

.warning {
  color: #ff001b;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .header-home__container {
    max-width: 617px;
  }
  .logo__text {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
  }
  .nav__list {
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .header-home__container {
    max-width: 882px;
  }
}
@keyframes move-bg {
  to {
    background-position: 400%;
  }
}
.header-library {
  position: relative;
  background-image: url("/src/images/Rectangle-1x-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header__btn-wrapper {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  text-transform: none;
  width: 130px;
  height: 44px;
}

.btn-lib {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
}
.btn-lib:hover {
  animation: rotate 0.7s ease-in-out both;
  animation-delay: 0.04s;
}
.btn-lib--white {
  color: #fff;
  border-color: #fff;
}
.btn-lib--white:hover {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}
.btn-lib--accent, .btn-lib-js-active {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}
.btn-lib--black {
  border-color: #000;
  color: #000;
  opacity: 1;
}
.btn-lib--black:hover {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}

.btn-wrapper {
  display: flex;
}

.switch__btn {
  position: absolute;
  margin-top: -33px;
  margin-left: 90px;
  opacity: 0.4;
  transition: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.switch__btn:hover {
  opacity: 1;
}

.switch__btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch__btn__icon {
  color: #ff6b08;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .header__btn-wrapper {
    gap: 32px;
  }
  .switch__btn {
    margin-left: 500px;
  }
  .header__btn {
    width: 152px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .switch__btn {
    margin-left: 1000px;
  }
  .header__btn-wrapper {
    gap: 16px;
  }
  .header__btn {
    width: 147px;
    height: 42px;
  }
}
.cards-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 280px;
}

.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  transition: transform 250ms;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}
.movie-card__img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}
.movie-card__title {
  font-size: 12px;
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 8px;
}
.movie-card__info {
  color: #ff6b08;
}
.movie-card__rating {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff6b08;
  color: #ffffff;
  padding: 0px 5px;
  border-radius: 5px;
}
.movie-card:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .cards-container {
    max-width: 617px;
    margin-top: 60px;
  }
  .movie-card {
    width: 290px;
  }
}
@media (min-width: 1024px) {
  .cards-container {
    max-width: 882px;
  }
  .movie-card {
    width: 274px;
  }
}
.cards-watched-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.content-library__image {
  width: 150px;
}

.content-library__img-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-library__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1px;
  margin-top: 30px;
}

.content-library__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
}
.content-library__link:after {
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  margin: -5px 0;
  border-radius: 5px;
  background-color: #ff6b08;
  transition: width 0.3s ease-in 0s;
}
.content-library__link:hover:after {
  width: 100%;
}

.content-library__link:hover,
.content-library__link:focus {
  color: #ff6b08;
}

.content-library__text {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content-library__image {
    min-width: 260px;
  }
  .content-library__title {
    font-size: 24px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280) {
  .content-library__image {
    min-width: 300px;
  }
}
.pagination-button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85em;
  color: #000000;
  background-color: transparent;
}
.pagination-button:hover {
  color: #ff6b08;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgb(255, 107, 8);
}

.activebtn {
  color: #ffffff;
  background: #ff6b08;
}
.activebtn:hover {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgb(0, 0, 0);
}

.pagination-arrow-btn {
  background-color: #f7f7f7;
}

.pagination-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .pagination-container {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .pagination-container {
    margin-top: 46px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.footer__text {
  display: flex;
  height: 100%;
  color: #545454;
  font-size: 14px;
  line-height: 1.17;
  gap: 4px;
}
.footer__link {
  color: #545454;
  text-decoration: underline;
}
.footer__link:hover {
  cursor: pointer;
  color: red;
}
.footer__icon {
  width: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
  }
  .footer__container {
    flex-direction: row;
  }
}
.log-in,
.log-out {
  font-size: 12px;
  line-height: 1.166;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 15px;
  padding: 3px 10px;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
}
.log-in:hover,
.log-out:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ff6b08;
  box-shadow: inset 0.1px 0.1px 7px 0.1px #ff6b08;
}

.sign-in,
.sign-up {
  border-color: transparent;
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
.sign-in:hover,
.sign-up:hover {
  background-color: transparent;
  color: #ff6b08;
  border-color: #ff6b08;
}

.sign-up--btn-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.login-title {
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(225deg, #ff6b08, #eee, #ff6b08) 0 0/400%, 100%;
  color: transparent;
  border-radius: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 15s infinite linear;
}

.login-wrapper {
  justify-content: center;
  margin: 30px auto;
  text-align: center;
}

.form__btn {
  justify-content: center;
  padding: 5px 10px 5px;
  display: inline-block;
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 15px;
}
.form__btn:hover {
  background-color: transparent;
  color: #000000;
  border-color: #ff6b08;
  box-shadow: inset 0.1px 0.1px 7px 0.1px #ff6b08;
}

.modal-login__btn {
  top: -10px;
  left: 90%;
}

.login-modal {
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.modal-login {
  position: absolute;
  background-color: #f7f7f7;
  height: 400px;
  width: 280px;
  padding: 25px 20px 30px;
  border-radius: 6px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  overflow: hidden;
}
.modal-login-close-btn {
  position: fixed;
  top: 10px;
  left: 95%;
  border: transparent;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  left: 89%;
  top: 5px;
}

.login-form {
  margin-bottom: 25px;
  margin-top: 50px;
  width: 250px;
  font-size: 12px;
  color: #000000;
}

.login-input {
  width: 220px;
  height: 20px;
  margin: 45px auto;
  font-size: 14px;
  line-height: 1.142;
  display: flex;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: 2px solid #545454;
  outline: none;
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
.login-input:focus, .login-input:hover {
  border-bottom: 2px solid #ff6b08;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --grow_title: 1;
  --grow_genres: 0;
}

.is-hidden {
  display: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-card {
  position: absolute;
  min-width: 280px;
  max-height: 95vh;
  overflow-y: auto;
  padding: 48px 20px 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-card__img {
  display: block;
  min-width: 240px;
  max-height: 356.57px;
  border-radius: 5px;
}
.modal-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  padding-top: 30px;
}
.modal-card__list {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.modal-card__list-container {
  display: flex;
  column-gap: 41px;
}
.modal-card__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 71px;
  color: #8c8c8c;
}
.modal-card__list-details {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}
.modal-card__list-details--avg-color {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
}
.modal-card__buttons {
  display: flex;
  justify-content: center;
  gap: 14.85px;
}
.modal-card__skew-line {
  margin-left: 2px;
  color: #8c8c8c;
}
.modal-card__votes {
  display: inline-block;
  margin-left: 13px;
  min-width: 36px;
  height: 16px;
  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}
.modal-card__list-item:nth-child(3) {
  flex-grow: var(--grow_title);
}
.modal-card__list-item:nth-child(4) {
  flex-grow: var(--grow_genres);
}
.modal-card__list-details:nth-child(3) {
  text-transform: uppercase;
}
.modal-card__movie-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
}
.modal-card__movie-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .modal-card {
    min-width: 618px;
    max-height: 562px;
    padding: 42px 30px 40px 28px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
  .modal-card__movie-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-card__img {
    min-width: 264px;
    max-height: 373.55px;
    margin-top: 0;
  }
  .modal-card__movie-desc {
    max-height: fit-content;
    overflow-y: visible;
  }
  .modal-card__title {
    padding-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .modal-card {
    width: 882px;
    max-height: 568px;
    padding: 50px 30px 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .modal-card__img {
    max-width: 394px;
    max-height: 477.8px;
    object-fit: cover;
  }
  .modal-card__list-container {
    column-gap: 85px;
  }
}
.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: rgba(189, 195, 199, 0.7);
  transition: ease-in-out 500ms;
}
.modal__container {
  width: 50%;
  max-width: 900px;
  height: 75%;
  background-color: #f7f7f7;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  min-width: 240px;
}
.modal__slide {
  transition: 1s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal__nav {
  text-align: center;
  padding-bottom: 10px;
}
.modal__navlink {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  margin: 0 5px 0 5px;
  transition: background-color 0.6s ease;
}
.modal__navlink.active {
  background-color: #ff6b01;
  border: 1px #ff6b01 solid;
}
.modal__image {
  width: 80%;
  border-radius: 2%;
  transition: ease-in-out 500ms;
  max-height: 200px;
}
.modal__description {
  font-family: "Roboto";
  width: 80%;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
}
.modal__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__name {
  font-family: "Mynerve";
  font-size: 22px;
  display: flex;
  min-width: 200px;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__spin {
  position: relative;
  top: 0px;
  left: 0px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .modal__name {
    font-size: 32px;
    flex-direction: row;
  }
  .modal__spin {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .modal__image {
    max-height: 300px;
  }
  .modal__slide {
    gap: 20px;
  }
  .modal__navlink {
    margin: 0 10px 0 10px;
    height: 20px;
    width: 20px;
  }
  .modal__description {
    font-size: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__name {
    gap: 40px;
    font-size: 44px;
  }
  .modal__spin {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .modal__image {
    max-height: 400px;
  }
  .modal__slide {
    gap: 20px;
  }
  .modal__navlink {
    margin: 0 10px 0 10px;
    height: 20px;
    width: 20px;
  }
  .modal__description {
    font-size: 22px;
  }
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
.scroll-top-button {
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
  background: #ff6b08;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}
.scroll-top-button.visible {
  opacity: 1;
  visibility: visible;
}
.scroll-top-button:hover {
  opacity: 0.8;
}

.scroll-top-icon {
  fill: #ffffff;
}/*# sourceMappingURL=index.css.map */