<!-- library page container for cards -->

<div class="cards-watched-container visually-hidden">
<template class="library-empty">

    <div class='content-library__card'>
        <div class='content-library__img-card'>
          <img
            src='./images/minions-9691.png'
            loading='lazy'
            alt='mike'
            class='content-library__image'
          />
        </div>
        <div class='content-library__list'>
          <h2 class='content-library__title'>Oops... it's empty in here!</h2>
          <p class='content-library__text'>
            <a class='content-library__link' href='./index.html'>Go back</a>
            and add your favorite movies.
          </p>
        </div>
      </div>

</template>
</div>




