<!-- header for main page -->
<header class="header-home">
    <div class="header-home__bg">
        <div class="header-home__container">
            <div class="menu">
                <div class="logo">
                    <a href="#"><svg class="logo__icon" width="24px" height="24px">
                            <use href="./images/icons.svg#icon-logo-icon"></use>
                        </svg></a>
                    <a href="#" class="link logo__text">Filmoteka</a>
                </div>
                <nav class="nav__list">
                    <ul class="nav__list">

                        <li class="nav__item"><a href="#" class="link nav__link--active">home</a></li>

                        <li class="nav__item"><a id="library" href="#" class="link nav__link js-library">my library</a>
                        </li>
                    </ul>
                    <button class="log-in login-open" type="submit" >Sign in</button>
                    <button class="log-out is-hidden" type="submit">Log Out</button>
                </nav>
                <div class="toolbar">
                    <div class="theme-switch">
                        <svg class="theme-switch__icon">
                            <use href="./images/svg/sprite.svg#sun"></use>
                        </svg>
                
                        <div class="theme-switch__control">
                            <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle" />
                            <label class="theme-switch__track" for="theme-switch-toggle"> </label>
                            <div class="theme-switch__marker"></div>
                        </div>
                
                        <svg class="theme-switch__icon">
                            <use href="./images/svg/sprite.svg#moon"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <form class="search-form" id="search-form">
                <input type="text" name="searchQuery" autocomplete="off" placeholder="Search movies..." />
                <button type="submit"><svg class="search-form__icon" width="12px" height="12px">
                        <use href="./images/icons.svg#icon-search-icon"></use>
                    </svg></button>
            </form>
            <p class="warning"></p>
        </div>
    </div>
</header>