<!-- partial for advanced version -->
<div class="modal is-hidden">
    <div class="modal__container">
        <div class="modal__info">
            <div class="modal__slide active">
                <!-- <img class="modal__image" src="./images/Maciej Krogulski.jpg"></img> -->
                <!-- <p class="modal__description">Mam na imię Maciek, mam 24 lata, interesuje się sportem, grami oraz
                    podróżami.</p> -->
                <p>1</p>
            </div>
            <div class="modal__slide">2</div>
            <div class="modal__slide">3</div>
            <div class="modal__slide">4</div>
            <div class="modal__slide">5</div>
            <div class="modal__slide">6</div>
            <div class="modal__slide">7</div>
        </div>
        <ul class="modal__nav">
            <li class="modal__navlink active"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
        </ul>
    </div>
</div>