<!-- partial for advanced version with Firebase -->
<div class="backdrop is-hidden" login-modal>
    <div class="modal-login">
        <button type="button" class="modal-login-close-btn" login-close>
            <svg class="modal-login__icon" width="18px" height="18px">
                <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="movie-box login-wrapper">
            <h2>FILMOTEKA</h2>
            <form>
                <label>
                    <input class="login-input login-form email" type="email" name="email" required
                        placeholder="Please enter your email" />
                </label>
                <label>
                    <input class="login-input login-form password" type="password" name="password" required
                        placeholder="Please enter your password" />
                </label>
                <div class="sign-up--btn-div">
                    <button class="sign-in form__btn">Sign in</button>
                    <button class="sign-up form__btn">Sign up</button>
                </div>
            </form>
        </div>
    </div>

</div>