<!-- partial for advanced version -->
<div class="modal is-hidden" data-modal>
    <div class="modal__container">
        <div class="modal__name">
            <p>Lazy</p>
            <p class="modal__spin"></p>
            <p>Loaders Team</p>
        </div>
        <div class="modal__info">
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/RafalGalecki.jpg" alt="Rafal Galecki"></img>
                <p class="modal__description">Rafał Gałecki</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/MarcinWrembel.jpg" alt="Marcin Wrembel"></img>
                <p class="modal__description">Marcin Wrembel</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/SlawomirAlbinski.jpg" alt="Slawomir Albinski"></img>
                <p class="modal__description">Sławomir Albiński</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/MarlenaDuleba.jpg" alt="Marlena Duleba"></img>
                <p class="modal__description">Marlena Dulęba</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/MonikaCzulak.jpg" alt="Monika Czulak"></img>
                <p class="modal__description">Monika Czulak</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/MaciejKrogulski.jpg" alt="Maciej Krogulski"></img>
                <p class="modal__description">Maciej Krogulski</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/WiktorGola.jpg" alt="Wiktor Gola"></img>
                <p class="modal__description">Wiktor Gola</p>
            </div>
        </div>
        <ul class="modal__nav">
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
        </ul>
    </div>
</div>