<!-- partial for advanced version -->
<div class="modal is-hidden">
    <div class="modal__container">
        <div class="modal__info">
            <div class="modal__slide active fade">
                <img class="modal__image fade" src="./images/Rafal Galecki.jpg"></img>
                <p class="modal__description">Rafał Gałecki</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade"></img>
                <p class="modal__description">Marcin Wrembel</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade"></img>
                <p class="modal__description">Sławomir Albiński</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/Marlena Duleba.jpg"></img>
                <p class="modal__description">Marlena Dulęba</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade"></img>
                <p class="modal__description">Monika Czulak</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/Maciej Krogulski.jpg"></img>
                <p class="modal__description">Maciej Krogulski</p>
            </div>
            <div class="modal__slide fade">
                <img class="modal__image fade" src="./images/Wiktor Gola.jpg"></img>
                <p class="modal__description">Wiktor Gola</p>
            </div>
        </div>
        <ul class="modal__nav">
            <li class="modal__navlink active"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
            <li class="modal__navlink"></li>
        </ul>
    </div>
</div>