@use '../utils' as *;

// edit below
.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: rgba(189, 195, 199, 0.7);
  transition: ease-in-out 500ms;

  &__container {
    width: 75%;
    height: 75%;
    background-color: #f7f7f7;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  &__slide {
    font-size: 50px;
    transition: 1s;
    display: none;
  }

  &__slide.active {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
  }

  &__nav {
    text-align: center;
  }

  &__navlink {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    margin: 0 10px 0 10px;
    cursor: pointer;
  }

  &__navlink.active {
    background-color: #ff6b01;
    border: 1px #ff6b01 solid;
  }

  &__image {
    width: 80%;
    border-radius: 2%;
  }

  &__description {
    width: 80%;
    text-align: center;
    font-size: 14px;
    line-height: 1.17;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
