@use '../utils' as *;

// edit below
.log-in,
.log-out {
  font-size: 12px;
  line-height: 1.166;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 15px;
  padding: 3px 10px;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;

  &:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #ff6b08;
    box-shadow: inset 0.1px 0.1px 7px 0.1px #ff6b08;
  }
}

.sign-in,
.sign-up {
  border-color: transparent;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: transparent;
    color: #ff6b08;
    border-color: #ff6b08;
  }
}

.sign-up--btn-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.login-wrapper {
  justify-content: center;
  margin: 30px auto;
  text-align: center;
}

.form__btn {
  justify-content: center;
  padding: 5px 10px 5px;
  display: inline-block;
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 15px;

  &:hover {
    background-color: transparent;
    color: #000000;
    border-color: #ff6b08;
    box-shadow: inset 0.1px 0.1px 7px 0.1px #ff6b08;
  }
}

.modal-login__btn {
  top: -10px;
  left: 90%;
}

.modal-login {
  position: absolute;
  background-color: #f7f7f7;
  height: 400px;
  width: 280px;
  padding: 25px 20px 30px;
  border-radius: 6px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    opacity 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  overflow: hidden;

  &-close-btn {
    position: fixed;
    top: 10px;
    left: 95%;
    border: transparent;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    left: 89%;
    top: 5px;
  }
}

.login-form {
  margin-bottom: 25px;
  margin-top: 50px;
  width: 250px;
  font-size: 12px;
  color: black;
}

.login-input {
  width: 220px;
  height: 20px;
  margin: 45px auto;
  font-size: 14px;
  line-height: 1.142;
  display: flex;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #545454;
  outline: none;
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

  &:focus {
    border-bottom: 0.5px solid #ff6b08;
  }

  &:hover {
    border-bottom: 0.5px solid #ff6b08;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
