@use '../utils' as *;

// edit below
.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: rgba(189, 195, 199, 0.7);
  transition: ease-in-out 500ms;
  

  &__container {
    width: 50%;
    max-width: 900px;
    height: 75%;
    background-color: $secondary-bg-cl;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;
    min-width: 240px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  &__slide {
    transition: 1s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__nav {
    text-align: center;
    padding-bottom: 10px;
  }

  &__navlink {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    margin: 0 5px 0 5px;
    transition: background-color 0.6s ease;
  }

  &__navlink.active {
    background-color: #ff6b01;
    border: 1px #ff6b01 solid;
  }

  &__image {
    width: 80%;
    border-radius: 2%;
    transition: ease-in-out 500ms;
    max-height: 200px;
  }

  &__description {
    font-family: 'Roboto';
    width: 80%;
    text-align: center;
    font-size: 16px;
    line-height: 1.17;
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__name {
    font-family: 'Mynerve';
    font-size: 22px;
    display: flex;
    min-width: 200px;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__spin {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    &__name {
      font-size: 32px;
      flex-direction: row;
    }

    &__spin {
      position: relative;
      top: 0px;
      left: 0px;
    }
    &__image {
      max-height: 300px;
    }

    &__slide {
      gap: 20px;
    }

    &__navlink {
      margin: 0 10px 0 10px;
      height: 20px;
      width: 20px;
    }

    &__description {
      font-size: 22px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    &__name {
      gap: 40px;
      font-size: 44px;

    }

    &__spin {
      position: relative;
      top: 0px;
      left: 0px;
    }
    &__image {
      max-height: 400px;
    }

    &__slide {
      gap: 20px;
    }

    &__navlink {
      margin: 0 10px 0 10px;
      height: 20px;
      width: 20px;
    }

    &__description {
      font-size: 22px;
    }
  }
}