@use '../utils' as *;

// edit below
.pagination-button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85em;
  color: $dark-bg-cl;
  //background-color: $main-bg-cl;
  background-color: transparent;
  &:hover {
    color: $accent-btn-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(255, 107, 8, 1);
  }
}

.activebtn {
  color: $secondary-text-cl;
  background: $accent-btn-color;
  &:hover {
    color: $secondary-text-cl;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgb(0, 0, 0);
  }
}

.pagination-arrow-btn {
  background-color: $secondary-bg-cl;
}

.pagination-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .pagination-container {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .pagination-container {
    margin-top: 46px;
  }
}
